
#gameBoard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 2px;
    background-color: #bdbbc4; /* Adding background color to the game board */
    padding: 10px; /* Adding padding around the game board */
    border-radius: 10px; /* Optional: if you want rounded corners for the game board */
    width: fit-content;
    margin: auto;
}

.tile {
    width: 50px;
    height: 50px;
    background-color: #fffad6; /* Neutral tile color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: relative; /* Needed to position the dots correctly */
    border-radius: 5px; /* Rounded corners for tiles */
}

.dot {
    width: 30px;
    height: 30px;
    background-color: #2E3440; /* Dot color */
    border-radius: 50%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add the following line to center vertically */
    line-height: 30px;
}


.player1 .dot { /* Player 1's color */
    background-color: #ff6666;
}

.player2 .dot { /* Player 2's color */
    background-color: #6699ff;
}

/* Tiles belonging to player1 */
.tile.player1 {
    background-color: #ffcccc; /* Lighter red shade for player1's tiles */
}

/* Tiles belonging to player2 */
.tile.player2 {
    background-color: #ccccff; /* Lighter blue shade for player2's tiles */
}

/* Style to prevent clicking on the tile. This class can be toggled via JavaScript */
.tile.no-click {
    pointer-events: none;
    opacity: 0.9; /* Optional: reduces opacity when tile is not clickable */
}
